#######服务配置#####
server:
  port: 8080
  session:
    timeout: 3600

spring:
#######springmvc相关配置#######
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
#####数据库配置######
  datasource:
    name: default
    type: org.apache.tomcat.jdbc.pool.DataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/skipper?useSSL=false&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull
    username: root
    password: shou053874
    initialize: false
    tomcat:
      validationQuery: 'select 2'
      testOnBorrow: true
      testOnReturn: true
      testWhileIdle: true
      maxWait: 15000
      init-s-q-l: 'set names utf8mb4;'
      maxActive: 5
      maxIdle: 5
      minIdle: 5
      initialSize: 5
#####mybatis中mapper相关配置信息#####
mybatis.config-location: classpath:mybatis-config.xml
